<form action="">
    <mat-radio-group name="flavors" color="primary">
        <mat-radio-button value="vanilla">
            <div class="d-flex justify-content-between align-items-center">
                <mat-icon svgIcon="plan-up"></mat-icon>
                <span>
                    <mat-icon>
                        check
                    </mat-icon>
                </span>
            </div>
        </mat-radio-button>
        <mat-radio-button value="strawberry">
            <mat-icon svgIcon="plan-down"></mat-icon>
        </mat-radio-button>
    </mat-radio-group>
</form>