<form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="form-group mb-4">
        <mat-button-toggle-group class="type" formControlName="type" (change)="changeType($event.value)">
            <mat-button-toggle [value]="FlightType.FromAirPort">
                <div class="content">
                    <div class="d-flex justify-content-between align-items-center">
                        <mat-icon svgIcon="plan-down"></mat-icon>
                        <span class="check-cont">
                            <mat-icon>
                                check
                            </mat-icon>
                        </span>
                    </div>
                    <span class="text">
                        From Airport
                    </span>
                </div>
            </mat-button-toggle>
    
            <span style="width: 16px;"></span>
    
            <mat-button-toggle [value]="FlightType.ToAirPort">
                <div class="content">
                    <div class="d-flex justify-content-between align-items-center">
                        <mat-icon svgIcon="plan-up"></mat-icon>
                        <span class="check-cont">
                            <mat-icon>
                                check
                            </mat-icon>
                        </span>
                    </div>
                    <span class="text">
                        To Airport
                    </span>
                </div>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
   
    <div class="form-group mb-3">
        <label class="d-flex">
            Select airport
        </label>
        <mat-button-toggle-group formControlName="airport_id" class="row-btns" >
            <mat-button-toggle class="mb-3" *ngFor="let airport of apiService.assets.airports" [value]="airport.id">
                <div class="content">
                    <span class="check-cont">
                        <mat-icon>
                            check
                        </mat-icon>
                    </span>
                    <p>
                        {{ airport.name }}
                    </p>
                </div>
            </mat-button-toggle>
            <!-- <mat-button-toggle [value]="Airport.Sabiha">
                <div class="content">
                    <span class="check-cont">
                        <mat-icon>
                            check
                        </mat-icon>
                    </span>
                    <p>
                        Sabiha Airport
                    </p>
                </div>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>

    <div class="mb-3 form-group" *ngIf="formGroup.controls['type'].value == FlightType.FromAirPort; else showRoom ">
        <label class="d-flex align-items-center input-label" for="flight">
            <mat-icon class="me-2">
                flight
            </mat-icon>
            Trip Number
        </label>
        <input formControlName="trip_number" type="text" id="flight">
    </div>

    <ng-template #showRoom>
        <div class="mb-3 form-group">
            <label class="d-flex align-items-center input-label" for="room_number">
                <mat-icon class="me-2">
                    pin
                </mat-icon>
                Room Number
            </label>
            <input formControlName="room_number" type="text" id="room_number">
        </div>
    </ng-template>
    

    <div class="mb-3 form-group">
        <label class="d-flex align-items-center input-label" for="Location">
            <mat-icon class="me-2">
                location_on
            </mat-icon>
            Delivery Location
        </label>
        <input formControlName="delivery_location" type="text" id="Location">
    </div>

    <button mat-raised-button color="primary">
        Explore Cars & Prices
    </button>
</form>