:host {
    width: 95vw;
    display: block;
    max-width: 850px;
    .mat-mdc-dialog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 26px;
        padding-left: 40px;
        padding-right: 40px;

        &::before {
            display: none;
        }
        h2 {
            font-size: 17px;
            margin-top: 1rem;
        }
    }

    mat-calendar {
        max-width: 350px;
        margin: auto;
        margin-top: -16px;
    }
    mat-dialog-actions {
        padding: 8px 18px 30px;
        button {
            width: 158px;
            height: 48px;
            margin: 0 12px;
            border-radius: 8px;
            &:last-of-type {
                border: 1px solid #E9E9E9;
                color: #101010;
            }
        }
    }
    ::ng-deep app-error {
        display: block;
        text-align: center;
        margin-top: 16px;
    }
}

@media (max-width: 991px) {
    mat-dialog-actions {
        button.mdc-button {
            width: 120px;
        }
    }
}