<form [formGroup]="form" (submit)="submit()">
    <h2 mat-dialog-title>
        {{ 'IndicateTimeAndDate' | translate }}
    </h2>
    <mat-dialog-content class="mat-typography">
        <section>
            <div class="row">
                <div class="col-md-6">
                    <mat-calendar [minDate]="min" [(selected)]="data.date" (selectedChange)="changeDateTime()"></mat-calendar>
                    <input [hidden]="true" formControlName="date" type="text">
                </div>
    
                <div class="col-md-6 form-group">
                    <ngx-mat-timepicker [defaultTime]="data.time" [enableKeyboardInput]="true" (timeChanged)="data.time = $event;changeDateTime()"></ngx-mat-timepicker>  
                    <input [hidden]="true" formControlName="time" type="text">
                </div>
            </div>
        </section>
    </mat-dialog-content>
    <mat-dialog-actions >
        <button mat-raised-button cdkFocusInitial color="primary">
            {{ 'Save' | translate }}
        </button>
        <button mat-button  type="button" (click)="reset()">
            {{ 'Re-Set' | translate }}
        </button>
    </mat-dialog-actions>
</form>