
.passengers-airport {
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 8px 10px 10px;
    .airport-info {
       
        align-items: center;
        // flex-wrap: wrap;
        div {
            text-align: center;
            width: 150px;
            span {
                color: #8D8D8D;
                font-size: 14px;
            }
            p {
                color: #101010;
                font-size: 14px;
                margin: 4px 0 0 0;
            }
        }
        mat-icon {
            font-size: 36px;
            width: 36px;
            height: 36px;
        }
     
    }

    .passengers {
        width: 100%;
        justify-content: flex-start;
        display: flex;
        padding-top: 10px;
        margin-top: 12px;
        border-top: 1px solid #E9E9E9;
        font-size: 14px;
        mat-icon {
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin-right: 8px
        }
    }
}

mat-list {
    mat-list-item {
        cursor: pointer;
        padding: 0;
        border-radius: 8px;


        align-items: center;
        height: auto;
        padding: 12px 0;
        height: auto !important;
        mat-icon.mat-mdc-list-item-icon {
            margin: 0 13px;
            align-self: auto;
            padding: 6px;
            background: #F2F5F8;
            width: 36px;
            height: 36px;
            border-radius: 50px;
        }
        
        div {
            margin-bottom: 0;
            align-items: center;
            &::before, &::after {
                display: none;
            }
            span {
                font-size: 14px;
            }
            mat-icon {
                margin: 0px 6px;
            }
            button {
                // position: relative;
                // bottom: -10px;
                font-size: 16px;
                font-weight: normal;
            }
            &.passengers {
                overflow: visible;
                // button {
                //     position: relative;
                //     bottom: -10px;
                // }
            }
        }

        &:hover {
            background-color: rgba(0,0,0,.05);
        }
    }
    mat-divider {
        margin: 10px 0;
    }
}


@media (max-width: 991px) {
    .airport-info {
        flex-direction: column;
        align-items: center;
        mat-icon[svgIcon="arrows"] {
            transform: rotate(90deg);
            height: 30px;
            width: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}


mat-card {
    box-shadow: none;
    border: 1px solid #E9E9E9;
    border-radius: 12px;

    margin-top: 8px;
    margin-bottom: 12px;
    &.selected {
        border-color: #002899;
    }
    cursor: pointer;
    mat-card-content {
        display: flex;
        padding: 12px 12px 8px;
        img {
            border-radius: 8px;
            width: 105px;
            height: 105px;
        }
        div {
            flex: 1;
            padding-left: 12px;
            h3 {
                margin: 0 0 8px 0;
                font-size: 16px;
                font-weight: normal;
            }
            p {
                color: #CCCCCC;
                font-size: 14px;
                margin: 0 0 8px 0;
            }
            div {
                margin: 0 0 8px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                span {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                }
                .dot {
                    width: 4px;
                    height: 4px;
                    background: #E9E9E9;
                    border-radius: 50px;
                }
                mat-icon {
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    margin-right: 8px;
                }
            }
            p.price {
                color: #464646;
                font-size: 14px;
                text-transform: uppercase;
                span {
                    color: #00299B;
                    font-size: 20px;
                }
            }
        }
    }
}


form {
    .form-group {
        label {
            font-size: 15px;
            margin-bottom: 12px;
            display: block;
        }
    }

    button {
        margin: 1rem auto;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        &:first-of-type {
            height: 56px;
        }
    }
}
