<section>
    <mat-list>
        <mat-list-item  >
            <mat-icon matListItemIcon svgIcon="calendar-clock"></mat-icon>
            <div matListItemTitle class="d-flex justify-content-between"> 
                <span>
                    {{ formGroup.controls['date'].value ? ((formGroup.controls['date'].value | date:'dd MMM yyyy') + ' - ' + formGroup.controls['time'].value) : 'Plese Add The Date' }}
                </span>
                <button mat-button color="primary" (click)="openDialog()">
                    Change
                </button>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <div class="passengers-airport mt-4">
            <div class=" airport-info  d-flex  justify-content-between">
                <div>
                    <span>
                        From
                    </span>
                    <p>
                        {{ firstForm.value.airport  }}
                    </p>
                </div>
                <mat-icon svgIcon="arrows"></mat-icon>
                <div>
                    <span>
                        To
                    </span>
                    <p>
                        {{ firstForm.value.deliveryLocation  }}
                    </p>
                </div>
    
            </div>
    
            
            <div class="passengers">
                <mat-icon svgIcon="users"></mat-icon>
                5 Passenger
            </div>
        </div>

    </mat-list>


    <mat-card  >
        <mat-card-content>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >

            <div>
                <h3>
                    Economy VAN
                </h3>
                <p>
                    Mercedes Vito etc
                </p>
                <div class="details">
                    <span>
                        <mat-icon svgIcon="users"></mat-icon>
                        Max 5
                    </span>

                    <span class="dot"></span>

                    <span>
                        <mat-icon >business_center</mat-icon>
                        Max 5
                    </span>

                    <span class="dot"></span>

                    <span>
                        <mat-icon>airport_shuttle</mat-icon>
                        Private Car
                    </span>
                    
                </div>

                <p class="price p-0 m-0" >
                    <span>
                        125
                    </span>
                    tl
                </p>
            </div>

        </mat-card-content>
    </mat-card>

    <form [formGroup]="form">
        <div class="form-group">
            <label for="notes">
                Before confirming the reservation, do you want to add notes?
            </label>
            <textarea class="d-block" id="notes" name="notes" cols="30" rows="4" formControlName="notes"></textarea>
        </div>

        <button mat-raised-button color="primary" class="d-block mb-3">
            Book Confirmation
        </button>
        <button mat-button type="button" class="d-block" routerLink="/2">
            <mat-icon>
                keyboard_backspace
            </mat-icon>
            <span>
                Previous
            </span>
        </button>
    </form>
</section>