<section>
    <mat-list>
        <mat-list-item class="d-flex">
            <mat-icon matListItemIcon svgIcon="calendar-clock"></mat-icon>
            <div matListItemTitle class="d-flex justify-content-between"> 
                <span>
                    {{ formGroup.controls['date'].value ? ((formGroup.controls['date'].value | date:'dd MMM yyyy') + ' - ' + formGroup.controls['time'].value) : ('AddDate' | translate) }}
                </span>
                <button mat-button color="primary" (click)="openDialog()">
                    {{ 'Change' | translate }}
                </button>
            </div>
        </mat-list-item>


        <!-- <mat-list-item class="d-lg-none" matRipple>
            <mat-icon matListItemIcon svgIcon="calendar-clock"></mat-icon>
            <div matListItemTitle class="d-flex justify-content-between">
                <span>
                    {{ formGroup.controls['date'].value ? ((formGroup.controls['date'].value | date:'dd MMM yyyy') + ' - ' + formGroup.controls['time'].value) : ('AddDate' | translate) }}
                </span>
                <button mat-button color="primary">
                    <div class="hidden-input-cont" [formGroup]="formGroup">
                        <input  #dateInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="formGroup.controls['date']" [min]="minDate">
                        <ngx-mat-datetime-picker #picker [showSeconds]="false"  [touchUi]="false" (closed)="closedDate()" [color]="color"> </ngx-mat-datetime-picker>
                    </div>
                    <mat-datepicker-toggle #toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    {{ 'Change' | translate }}
                </button>
            </div>
        </mat-list-item> -->


        <mat-divider></mat-divider>

        <div class="passengers-airport mt-4">
            <div class=" airport-info  d-flex  justify-content-between">
                <div>
                    <span>
                        {{ 'From' | translate }}
                    </span>
                    <p>
                        {{ Airport[firstForm.value.airport_id] | translate  }}
                    </p>
                </div>
                <mat-icon svgIcon="arrows"></mat-icon>
                <div>
                    <span>
                        {{ 'To' | translate }}
                    </span>
                    <p>
                        {{ firstForm.value.delivery_location  }}
                    </p>
                </div>
    
            </div>
    
            
            <div class="passengers">
                <mat-icon svgIcon="users"></mat-icon>
                {{ formGroup.controls.passengers.value?.length || 0 }}
                {{ 'Passenger' | translate }}
            </div>
        </div>

    </mat-list>

    <mat-card *ngIf="apiService.selectedCar">
        <mat-card-content>
            <img mat-card-sm-image [src]="apiService.selectedCar.image" >

            <div>
                <h3>
                    {{ apiService.selectedCar.name }}
                </h3>
                <p>
                    {{ apiService.selectedCar.description }}
                </p>
                <div class="details">
                    <span>
                        <mat-icon svgIcon="users"></mat-icon>
                        {{  'Max' | translate }} 
                        {{ apiService.selectedCar.max_seats }}
                    </span>

                    <span class="dot"></span>

                    <span>
                        <mat-icon >business_center</mat-icon>
                        {{  'Max' | translate }} 
                        {{ apiService.selectedCar.max_bags }}
                    </span>

                    <!-- <span class="dot"></span>

                    <span>
                        <mat-icon>airport_shuttle</mat-icon>
                        {{apiService.selectedCar.type}}
                    </span>
                     -->
                </div>

                <p class="price p-0 m-0" >
                    <span>
                        {{ apiService.selectedCar.price }}
                    </span>
                    {{apiService.selectedCar.currency}}
                </p>
            </div>

        </mat-card-content>
    </mat-card>

    <form [formGroup]="form">
        <div class="form-group mt-2">
            <label for="notes">
                {{ 'NotesLabel' | translate }}
            </label>
            <textarea class="d-block" id="notes" name="notes" cols="30" rows="4" formControlName="guest_notes" [placeholder]="'AddNote' | translate"></textarea>
        </div>

        <button mat-raised-button color="primary" class="d-block mb-3"  color="primary" (click)="save()" [disabled]="isSaving">
            <div class="d-flex align-items-center justify-content-center">
                <mat-spinner class="me-3" diameter="30" strokeWidth="2" *ngIf="isSaving"></mat-spinner>
                {{ 'BookConfirmation' | translate }}
            </div>
        </button>

        <button mat-button type="button" class="d-block" routerLink="/2">
            <mat-icon>
                keyboard_backspace
            </mat-icon>
            <span>
                {{ 'Previous' | translate }}
            </span>
        </button>
    </form>
</section>