<form>
    <div class="mt-4 airport-info mb-3 d-flex  justify-content-between">
        <div>
            <span>
                From
            </span>
            <p>
                Istanbul Airport
            </p>
        </div>
        <mat-icon svgIcon="arrows"></mat-icon>
        <div>
            <span>
                To
            </span>
            <p>
                Taksim Square In Beyoglu
            </p>
        </div>
    </div>

    <input [ngxMatTimepicker]="picker">  
    <ngx-mat-timepicker #picker></ngx-mat-timepicker>  
</form>

