<div class="mt-4 airport-info mb-3 d-flex  justify-content-between">
    <div>
        <span>
            {{ 'From' | translate }}
        </span>
        <p>
            {{ Airport[firstForm.value.airport_id] | translate  }}
        </p>
    </div>
    <mat-icon svgIcon="arrows"></mat-icon>
    <div>
        <span>
            {{ 'To' | translate }}
        </span>
        <p>
            {{ firstForm.value.delivery_location  }}
        </p>
    </div>
</div>

<mat-list>
    <mat-list-item matRipple (click)="openDialog()">
        <mat-icon matListItemIcon svgIcon="calendar-clock"></mat-icon>
        <div matListItemTitle class="d-flex justify-content-between"> 
            <span>
                {{ formGroup.controls['date'].value ? ((formGroup.controls['date'].value | date:'dd MMM yyyy') + ' ' + formGroup.controls['time'].value) : ('AddDate' | translate) }}
            </span>
            <mat-icon>
                chevron_right
            </mat-icon>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item matRipple routerLink="/add-passenger">
        <mat-icon matListItemIcon svgIcon="users"></mat-icon>
        <div matListItemTitle class="d-flex justify-content-between passengers"> 
            <span>
                {{ formGroup.controls.passengers.value?.length || 0 }}
                {{ 'Passenger' | translate }}
            </span>
            <mat-icon>
                chevron_right
            </mat-icon>
        </div>
        <div matListItemLine>
            {{ 'AddPassengersNumbers' | translate }}
        </div>
    </mat-list-item>

    <mat-list>
        <mat-card matRipple *ngFor="let car of apiService.cars"
        [class.selected]="formGroup.controls.car_model_id.value == car.id"
        (click)="selectCar(car)">
            <mat-card-content>
                <img mat-card-sm-image [src]="car.image" loading="lazy">

                <div>
                    <h3>
                        {{ car.name }}
                    </h3>
                    <p>
                        {{ car.description }}
                    </p>
                    <div class="details">
                        <span>
                            <mat-icon svgIcon="users"></mat-icon>
                            Max 
                            {{ car.max_seats }}
                        </span>

                        <span class="dot"></span>

                        <span>
                            <mat-icon >business_center</mat-icon>
                            Max
                            {{ car.max_bags }}
                        </span>

                        <span class="dot"></span>

                        <span>
                            <mat-icon>airport_shuttle</mat-icon>
                            {{car.type}}
                        </span>
                        
                    </div>

                    <p class="price p-0 m-0" >
                        <span>
                            {{ car.price }}
                        </span>
                        tl
                    </p>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-list>

</mat-list>

<div class="actions d-flex justify-content-between align-items-center ">
    <button mat-button routerLink="/1">
        {{ 'Previous' | translate }}
    </button>
    <button mat-raised-button color="primary"  [disabled]="formGroup.invalid"  routerLink="/3">
        {{ 'Next' | translate }}
    </button>
</div>