// @import "@angular/material/theming";
// $app-primary: mat-palette($mat-indigo);

// @use 'sass:map';
// @use '@angular/material' as mat;



// @mixin color($theme){
//   // Get the color config from the theme.
//   $color-config: mat.get-color-config($theme);
//   // Get the primary color palette from the color-config.
//   $primary-palette: map.get($color-config, 'primary');
  
//   .mat-row:hover {
//     background-color: mat.get-color-from-palette($primary-palette, 100);
//   }
// }

section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    // img {
    //     width: 100%;
    //     object-fit: cover;
    //     height: 100vh;
    //     display: block;
    // }
    .img-bg {
        width: 100%;
        // object-fit: cover;
        height: 100vh;
        // display: block;
        background-image: url('../../../assets/imgs/background.jpg');
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        div {
            padding: 64px 50px 64px 50px;
            color: #fff;
            img {
                width: 167px;
            }
            h1 {
                font-size: 28px;
                margin-top: 40px;
                font-weight: normal;
            }
            p {
                margin-top: 32px;
            }
        }
    }

    .main-content {
        padding: 48px 100px 0 100px;
        // max-height: 100vh;
        // overflow: auto;

        .page-content {
            text-align: initial;
            display: inline-block;
            .router-cont {
                max-height: calc(100vh - 152px);
                overflow: auto;
                padding-right: 16px;
            }
        }

        p,h2{
            color: var(--text-color);
        }

        h2 {
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 16px;
        }
        .steps {
            display: flex;
            margin-bottom: 16px;
            span {
                width: 34px;
                height: 3px;
                background-color: #D2D2D2;
                border-radius: 2px;
                &:nth-of-type(2) {
                    margin: 0 8px;
                }
                &.active {
                   background-color: #00299B;

                    // background-color:  mat-color($app-primary, 800);
                }
            }
        }

    }
}

@media (max-width: 991px) {
    section {
        text-align: center;
        // .steps {
        //     justify-content: center;
        // }
        .main-content {
            padding: 48px 16px;
        }
        .page-content{
            width: 100%;
        }
    }
}

