<section class="row">
    <div class="col-lg-6 col-xl-7 main-content">
        <h2>
            Lets start a new transfer
        </h2>
        <p>
            Reservation Confirmation
        </p>
        <div class="steps">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="col-lg-6 col-xl-5 p-0 d-lg-block d-none">
        <div class="img-bg">
            <div>
                <img src="assets/imgs/logo.png" alt="app logo">
                <h1>
                    Start A Seamless Journey Across Istanbul With Kaptan
                </h1>
                <p>
                    Book Now And Move Around The City Effortlessly
                </p>
            </div>
        </div>
        <!-- <img src="assets/imgs/background.jpg"> -->
    </div>
</section>