<section class="row">
    <div class="col-lg-6 col-xl-7 main-content">
        <div class="page-content">
            <h2>
                {{ 'AppTitle' | translate }}
            </h2>
            <p>
                {{ 'ReservationConfirmation' | translate }}
            </p>
            <div class="steps">
                <span *ngFor="let i of [1,2,3]" [class.active]="i <= step"></span>
            </div>
            <div class="router-cont">
                <router-outlet (activate)="activateRoute($event)"></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-5 p-0 d-lg-block d-none">
        <div class="img-bg">
            <div>
                <img src="assets/imgs/logo.png" alt="app logo">
                <h1>
                    {{ 'Title1' | translate }}
                </h1>
                <p>
                    {{ 'Title2' | translate }}
                </p>
            </div>
        </div>
        <!-- <img src="assets/imgs/background.jpg"> -->
    </div>
</section>