<!-- <form [formGroup]="form" (submit)="submit()">
   
    <mat-dialog-content class="mat-typography">
        <section>

            <div class="form-group">
                <input type="text" placeholder="Passenger Name" formControlName="name">
            </div>

            <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15"
                [phoneValidation]="true"
                inputId="my-input-id"
                name="phone"
                formControlName="phone"
            ></ngx-intl-tel-input>
            
        </section>
    </mat-dialog-content>
    <mat-dialog-actions >
        <button mat-raised-button cdkFocusInitial color="primary">
            Save
        </button>
        <button mat-button mat-dialog-close type="button">
            Re-Set
        </button>
    </mat-dialog-actions>
</form> -->

<section>
    <header class="d-flex justify-content-between align-items-center">
        <h2 mat-dialog-title>
            Add Passengers
        </h2>
        <button mat-button routerLink="/2" type="button">
            <mat-icon>
                keyboard_backspace
            </mat-icon>
            Back to booking
        </button>
    </header>

    <mat-list >
        <ng-container *ngFor="let passenger of passengersList; index as i">
            <mat-list-item *ngIf="activeEditIndex !== i; else showEditForm ">
                <div matListItemTitle class="d-flex justify-content-between">
                    <span>
                        {{ passenger.name }}
                        <span class="light">
                            ({{ Gender[passenger.gender] }})
                        </span>
                    </span>
                    <span class="light" *ngIf="passenger.phone">
                        {{ passenger.phone.countryName }}
                    </span>
                    <div class="d-flex action-btns">
                        <button mat-button class="edit" (click)="editPassenger(i)">
                            Edit
                        </button>
                        <ng-container *ngIf="i !== 0">
                            <span class="pipe"></span>
                            <button mat-button class="delete" (click)="delete(i)">
                                Delete
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="passenger.phone" matListItemLine class="d-flex justify-content-between">
                    <span>
                        {{ passenger.phone.e164Number }}
                    </span>
                    <span>
                        {{ passenger.email }}
                    </span>
                </div>

            </mat-list-item>

            <ng-template #showEditForm>
                <app-passenger-form [inEdit]="true" [passengerForm]="editForm" [passengersList]="passengersList" (btnClicked)="updatePassenger($event)"></app-passenger-form>
            </ng-template>


            <mat-divider></mat-divider>
        </ng-container>
        

    </mat-list>
    
    <!-- <form [formGroup]="passengersForm"  #f="ngForm" (submit)="submit(f)" *ngIf="passengersForm">
        <header class="mb-3" *ngIf="passengersList.length != 0">
            <h2 mat-dialog-title>
                Add Passengers
            </h2>
        </header>
        <div class="row">
            <div class="form-group col-md-7 mb-3">
                <input type="text" placeholder="Passenger Name" formControlName="name">
            </div>
            <div class="form-group col-md-5 mb-3" >
                <mat-radio-group formControlName="gender" aria-label="Select a gender" class="d-flex justify-content-end" color="primary">
                    <mat-radio-button [value]="1">Male</mat-radio-button>
                    <mat-radio-button [value]="2">Female</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-6 form-group mb-3" *ngIf="passengersForm.controls.phone">
                <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="passengersForm.controls.phone.value?.countryCode || CountryISO.Turkey"
                [maxLength]="15"
                [phoneValidation]="true"
                inputId="my-input-id"
                name="phone"
                formControlName="phone"
                customPlaceholder="Phone Number"
                ></ngx-intl-tel-input>
            </div>
            <div class="col-md-6 form-group mb-3" *ngIf="passengersForm.controls.email">
                <input type="email" placeholder="Email" formControlName="email">
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <button mat-button class="submit-btn">
                    <mat-icon>add</mat-icon>
                    Add More Passenger
                </button>
            </div>
        </div>
    </form> -->


    <app-passenger-form [passengerForm]="passengersForm" [passengersList]="passengersList" (btnClicked)="submit($event)"></app-passenger-form>

    
    <!-- <footer>
        <button mat-raised-button [disabled]="passengersList.length == 0" color="primary" (click)="save()">
            Done
        </button>
    </footer> -->
</section>


